
.side-content
  .side-title
    text-align: center

  border-right: 1px solid #cfcfcf
  box-shadow: inset -5px 0 5px rgba(0,0,0,0.15)
  width: 320px
  height: 100%
  overflow-x: hidden
  overflow-y: scroll

.placeholder
  padding: 2rem
  text-align: center
  color: #cecece

