<nav class="side-content">
  <h3 class="side-title">Side menu</h3>
  <ng-container *ngIf="list | async as departmentList; else placeholder">
    <ul [@list]="departmentList.length">
      <li *ngFor="let department of departmentList">
        <app-item-tree [department]="department" [level]="0" (selectedDep)="setSelected($event)">
        </app-item-tree>
      </li>
    </ul>
  </ng-container>
  <ng-template #placeholder>
    <div class="placeholder">
      <h2>❔</h2>
      <h3>No items found</h3>
    </div>
  </ng-template>
</nav>
