<div class="item-tree" [ngStyle]="{'border-left': data | colorPipe: level}">
  <div class="item-selector">
    <a (click)="select()" *ngIf="data.subDepartments.length === 0">
      {{data.selected? '✅' : '🔲'}}
    </a>
    <a (click)="expand = !expand" *ngIf="data.subDepartments.length > 0">
      {{expand === true? '➖' : '➕'}}
    </a>
  </div>
  <div class="item-info">
    {{data.Title}}
    <ng-container *ngIf="data.subDepartments.length > 0">
      ( {{nSelected}}/ {{data.nSubDepartments}})
    </ng-container>
  </div>
  <div class="item-childs" [hidden]="expand === false">
    <ul [@list]="data.subDepartments.length">
      <li *ngFor="let subDeparment of data.subDepartments; trackBy: identify">
        <app-item-tree [department]="subDeparment" [level]="level + 1" (selectedDep)="sendSelected($event)" (nSub)="addNSubs($event)"></app-item-tree>
      </li>
    </ul>
  </div>
</div>
