.item-tree
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: flex-start
  align-content: flex-start
  padding: 1rem 0.5rem
  align-items: center
  .item-selector
    flex: 0 0 auto
    width: 15%
    text-align: center
    padding: 10px 0
    a
      cursor: pointer
  .item-info
    flex: 0 0 auto
    padding: 10px 0
    width: 85%
  .item-childs
    width: 100%
    flex: 0 0 auto
