<section class="content">
  <aside class="side">
    <app-tree-list [list]="departmentContent.data" (selectedItems)="getSelected($event)"></app-tree-list>
  </aside>
  <article class="result">
    <h1>Tree list Challenge for Wolftech</h1>
    <h2>Author: Cristopher Caamana</h2>

    <h3>Result Array:</h3>
    <code>
      <ng-container *ngFor="let id of departmentContent.selected">
        {{id}}
      </ng-container>
    </code>

    <h3>Description:</h3>
    <p>
      This challenge uses 2 components, 1 model and 1 service for get & display the data.
    </p>
    <p>
      <strong>Department Model (& IDepartment Interface):</strong> <br>
      Department defines the data model for the components. It creates also the subDepartments list where it will store
      the child nodes. <br>
      IDepartment defines the incoming data for the get HTTP request.
    </p>
    <p>
      <strong>Departments Service:</strong> <br>
      Uses observables and HttpClient to get the data from the JSON (mock data stored in "assets/" folder as data.json).
      It maps the JSON data, transform each item to "Department" model and return the tree list building it on the fly.
    </p>
    <p>
      <strong>TreeList Component:</strong> <br>
      Main component to create the tree list. It's input allows to use an async forEach inside template rendering
      (observable). <br>
      It manages the selected items inside the component. (catching outputs from the nested ItemTree Component), and it
      pass the result array to the main view component.
    </p>
    <p>
      <strong>ItemTree Component:</strong> <br>
      Recursive component which allows select leaf nodes or expand it if there are some childs. <br>
      It pass the selected status from itself to its parent. It also relies in a custom pipe to paint the color of the
      item.
    </p>
    <p>
      <strong>Other elements:</strong>
    </p>
    <ol>
      <li>
        <strong>Color Pipe:</strong> Transform the level of the child and return the RGBA HEX of the department's color.
      </li>
      <li>
        <strong>List Animation:</strong> Implements Angular's Animations to create the transform effect when each
        Departament is displayed in the window.
      </li>
      <li>
        <strong>Unicode Emojis:</strong> Just to display icons without the need of any 3rd party 👻
      </li>
    </ol>
  </article>
</section>
