.content
  background-color: #f8f9f9
  display: flex
  align-items: stretch
  margin: 0 auto
  width: 90%
  height: 90%
  border: 1px solid rgba(200,200,200,0.35)
  border-radius: 10px
  box-shadow: -6px -6px 16px rgba(255,255,255,0.8), 6px 6px 16px rgba(100,100,100,0.5)

.result
  padding: 2rem
  h1
    font-size: 2rem
  h2
    font-size: 1.5rem
    color: #919191
