/* You can add global styles to this file, and also import other style files */

html,body
  width: 100%
  height: 100%
  margin: 0
  background-color: #f8f9f9
  color: #666666
  font-family: 'Helvetica', 'Ubuntu', 'Arial', 'Sans'

ul
  list-style: none
  width: 100%
  padding: 0
  li
    width: 100%
    border-bottom: 1px solid #e4e4e4
    &:last-child
      border: 0

/* Scrollbar */

*::-webkit-scrollbar
  width: 7px

/* Track */
*::-webkit-scrollbar-track
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.19)
  border-radius: 3.5px

/* Handle */
*::-webkit-scrollbar-thumb
  background: #d6d6d6
  border-radius: 3.5px

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover
  background: #d6d6d6
